<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	<body>
		<header data-th-replace="~{/layouts/header :: header}"></header>
		
		<nav data-th-replace="~{/layouts/navbar :: navbar}"></nav>
		
		<div class="container mb-3">
			<div class="row py-5 bg-dark rounded-4">
				<h2 class="text-white text-center mb-3">Filtrado de Alumnos por Materia</h2>
				<form data-th-action="@{/filtrar/buscar}" method="post">
				
					<div class="row mb-3 justify-content-center"> 
						<label for="materia"
						class="col-sm-6 col-lg-2 col-form-label text-lg-end bg-warning text-dark rounded-pill">Seleccione una Materia</label>
						<div class="col-sm-6 col-lg-4">
							<select id="materia" name="materiaCodigo" class="form-control">
								<option data-th-each="m : ${materias}" th:value="${m.codigo}"
								data-th-text="${m.nombre}"></option>
							</select>
						</div>
					</div>
					<p class="text-center"> <input type="submit" class="btn btn-warning" value="Filtrar Alumnos"> </p>
				</form>
				
				<h2 class="text-center text-white m-3" data-th-text=" 'Alumnos en la materia: ' + ${materiaSeleccionada}"></h2>
				
				<div class="container mt-2">
					<div class="row" th:if="${alumnos != null}">
						<div class="col-sm-6 col-md-4 mb-3" th:each="a : ${alumnos}">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title" th:text="${a.nombre} + ' ' + ${a.apellido}"></h5>
									<p class="card-text">
										<strong>LU: </strong> <span th:text="${a.lu}"></span><br>
										<strong>Email: </strong> <span th:text="${a.email}"></span><br>
										<strong>Teléfono: </strong> <span th:text="${a.telefono}"></span><br>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
		
		<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>