<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<!-- head -->

<head data-th-replace="~{/layouts/header :: head}"></head>

<body>
	<!-- Encabezado -->
	<header data-th-replace="~{/layouts/header :: header}"></header>
	<div class="container mb-3">
		<!-- Barra de Navegación (nav) -->
		<nav data-th-replace="~{/layouts/navbar :: navbar}"></nav>
		<div class="row py-5 bg-dark rounded-4">
			<div class="row mb-2">
				<h3 data-th-text="${edicion}?'Modificar Materia':'Nueva Materia'" class="text-center text-white"></h3>
			</div>
			<div>
				<form data-th-action="${edicion}?@{/materia/modificar} : @{/materia/guardar}" th:object="${materia}"
					method="post">

					<div class="container-fluid">
						
					<div th:if="${edicion}" class="row mb-3 justify-content-center">
						<label for="codigo"
							class="col-sm-6 col-lg-2 col-form-label text-lg-end bg-warning text-dark rounded-pill">Código</label>
						<div class="col-sm-6 col-lg-4">
							<input type="text" class="form-control" id="codigo" th:field="*{codigo}" readonly>
						</div>
					</div> 

					<div class="row mb-3 justify-content-center">
						<label for="nombre" class="col-sm-6 col-lg-2 col-form-label text-lg-end bg-warning text-dark rounded-pill">Nombre</label>
						<div class="col-sm-6 col-lg-4">
							<input type="text" class="form-control" id="nombre" th:field="*{nombre}" placeholder="Ingrese nombre" 
							th:classappend="${#fields.hasErrors('nombre')} ? 'is-invalid' : ' '">
						</div>
						<div class="row justify-content-center text-center">
							<p class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></p>
						</div>
					</div>

					<div class="row mb-3 justify-content-center">
						<label for="curso" class="col-sm-6 col-lg-2 col-form-label text-lg-end bg-warning text-dark rounded-pill">Curso</label>
						<div class="col-sm-6 col-lg-4">
							<select name="curso" id="curso" class="form-select" th:field="*{curso}" 
								th:classappend="${#fields.hasErrors('curso')} ? 'is-invalid' : ' '">
								<option th:value="Primero">Primero</option>
								<option th:value="Segundo">Segundo</option>
								<option th:value="Tercero">Tercero</option>
								<option th:value="Cuarto">Cuarto</option>
								<option th:value="Quinto">Quinto</option>
							</select>
						</div>
						<div class="row justify-content-center text-center">
							<p class="form-text text-danger" th:if="${#fields.hasErrors('curso')}" th:errors="*{curso}"></p>
						</div>
					</div>

					<div class="row mb-3 justify-content-center">
						<label for="horas" class="col-sm-6 col-lg-2 col-form-label text-lg-end bg-warning text-dark rounded-pill">Cantidad de horas</label>
						<div class="col-sm-6 col-lg-4">
							<input type="number" class="form-control" id="horas" th:field="*{cantidadHoras}" placeholder="Ingrese cantidad de horas"
								th:classappend="${#fields.hasErrors('cantidadHoras')} ? 'is-invalid' : ' '">
						</div>
						<div class="row justify-content-center text-center">
							<p class="form-text text-danger" th:if="${#fields.hasErrors('cantidadHoras')}" th:errors="*{cantidadHoras}"></p>
						</div>
					</div>

					<div class="row mb-3 justify-content-center">
						<label for="mod" class="col-sm-6 col-lg-2 col-form-label text-lg-end bg-warning text-dark rounded-pill">Modalidad</label>
						<div class="col-sm-6 col-lg-4">
							<select name="mod" id="mod" class="form-select" th:field="*{modalidad}" 
								th:classappend="${#fields.hasErrors('modalidad')} ? 'is-invalid' : ' '">
								<option th:value="Presencial">Presencial</option>
								<option th:value="Virtual">Virtual</option>
								<option th:value="Mixta">Mixta</option>
							</select>
						</div>
						<div class="row justify-content-center text-center">
							<p class="form-text text-danger" th:if="${#fields.hasErrors('modalidad')}" th:errors="*{modalidad}"></p>
						</div>
					</div>

					<div class="row mb-3 justify-content-center">
						<label for="docente" class="col-sm-6 col-lg-2 col-form-label text-lg-end bg-warning text-dark rounded-pill">Docente</label>
						<div class="col-sm-6 col-lg-4">
							<select id="docente" class="form-select" th:field="*{docente.legajo}"
								th:classappend="${#fields.hasErrors('docente')} ? 'is-invalid' : ' '">
								<option data-th-each="d: ${docentes}" th:value="${d.legajo}"
									data-th-text="${d.nombre + ' ' + d.apellido}"></option>
							</select>
						</div>
						<div class="row justify-content-center text-center">
							<p class="form-text text-danger" th:if="${#fields.hasErrors('docente')}" th:errors="*{docente}"></p>
						</div>
					</div>

					<div class="row mb-3 justify-content-center">
						<label for="carrera" class="col-sm-6 col-lg-2 col-form-label text-lg-end bg-warning text-dark rounded-pill">Carrera</label>
						<div class="col-sm-6 col-lg-4">
							<select id="carrera" class="form-select" th:field="*{carrera.codigo}"
								th:classappend="${#fields.hasErrors('carrera')} ? 'is-invalid' : ' '">

								<option data-th-each="c: ${carreras}" th:value="${c.codigo}" data-th-text="${c.nombre}"></option>
							</select>
						</div>
						<div class="row justify-content-center text-center">
							<p class="form-text text-danger" th:if="${#fields.hasErrors('carrera')}" th:errors="*{carrera}"></p>
						</div>
					</div>

					<p class="text-center"><input type="submit" class="btn btn-primary"
							th:value="${edicion}?'Modificar':'Guardar'"></p>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Pie de Página (footer) -->
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>

	<!-- Bootstrap JavaScript -->
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>