<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head data-th-replace="~{/layouts/header :: head}"></head>

<body>
	<header data-th-replace="~{/layouts/header :: header}"></header>

	<div class="container">

		<nav data-th-replace="~{/layouts/navbar :: navbar}"></nav>

		<div class="row">
			<div class="col col-sm-12 fondo-form">
				<div class="row mb-5">

					<!-- Alerta -->
					<div th:if="${exito}" class="alert alert-success alert-dismissible fade show" role="alert">
						<strong data-th-text="${mensaje}"></strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					<div th:if="${!exito && mensaje != ''}" class="alert alert-danger alert-dismissible fade show"
						role="alert">
						<strong data-th-text="${mensaje}"></strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					<!-- Boton Agregar -->
					<div class="dgrid gap-2 d-md-flex justify-content-md-end">
						<a class="btn btn-success" data-th-href="@{/carrera/nuevo}" role="button"><i
								class="bi bi-plus-circle"></i></a>
					</div>
					<div class="container mt-5">
						<div class="row">
							<div th:each="car : ${carreras}" class="col-md-4 mb-4">
								<div class="card">
									<div class="card-body">
										<i class="bi bi-mortarboard"></i>
										<h5 class="card-title text-center" th:text="${car.nombre}"></h5>
										<p class="card-text text-center mb-0"><b>Código</b></p>
								   	    <p class="card-text text-center mb-0"><span th:text="${car.codigo}"></span>
										<p class="card-text text-center mb-0"><b>Duración</b></p>
										<p class="card-text text-center mb-0"><span
										th:text="${car.cantidadAnios} + ' años'"></span></p>
										<p class="card-text text-center mb-1">
											<span th:if="${car.estado}">Estado: Activa</span>
											<span th:if="${!car.estado}">Estado: Inactiva</span>
										</p>
										<div class="text-center">
											<a class="btn btn-warning" th:href="@{/carrera/modificar/}+${car.codigo}"
												role="button"><i class="bi bi-pencil-fill"></i></a>
											<!--<a class="btn btn-danger" th:href="@{/carrera/eliminar/}+${car.codigo}"
												role="button"><i class="bi bi-trash-fill"></i></a>-->
											<!-- BOTON QUE LLAMA AL MODAL -->
											<button type="button" class="btn btn-danger me-2 b" data-bs-toggle="modal"
												th:attr="data-bs-target=${'#modalEliminar' + car.codigo}"> <i
													class="bi bi-trash-fill"></i></button>
										</div>
									</div>
								</div>

								<!-- Modal -->
								<div class="modal fade" th:id="${'modalEliminar' + car.codigo}" tabindex="-1"
									aria-labelledby="exampleModalLabel" aria-hidden="false">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="exampleModalLabel">Confirmar
													Eliminación</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal"
													aria-label="Close"></button>
											</div>
											<div class="modal-body">
												¿Está seguro de que desea eliminar la Carrera?
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary"
													data-bs-dismiss="modal">Cancelar</button>
												<!-- BOTON ELIMINAR -->
												<a type="button" role="button" class="btn btn-danger me-2 b"
													th:href="@{/carrera/eliminar/}+${car.codigo}">Eliminar</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
	<!-- Bootstrap JavaScript -->
	<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>

</html>