<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	<body>
		
		<div th:fragment="navbar">
			<div class="container mb-1">
				<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
					<div class="container">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-link active" aria-current="page" href="/principal">Inicio</a> 
								<a class="nav-link" href="#noticias">Noticias</a> 
								<a class="nav-link" href="#">Acerca de</a>
								<a class="nav-link" href="#contacto">Contacto</a>
								<a class="nav-link" href="/carrera/listado">Carreras</a>
								<a class="nav-link" href="/alumno/listado">Alumnos</a>
								<a class="nav-link" href="/docente/listado">Docentes</a>
								<a class="nav-link" href="/materia/listado">Materias</a>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</body>
</html>