<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}"></head>
	<body>
		
		<div th:fragment="navbar">
			<div class="container mb-1">
				<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
					<div class="container">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<ul class="navbar-nav me-auto mb-2 mb-lg-0">
									<li class="nav-item">
										<a class="nav-link active" aria-current="page" href="/principal">Inicio</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#noticias">Noticias</a> 
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#">Acerca de</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="#contacto">Contacto</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="/carrera/listado">Carreras</a>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Alumnos</a>
										<ul class="dropdown-menu">
								            <li><a class="dropdown-item" href="/alumno/listado">Listado de Alumnos</a></li>
								            <li><a class="dropdown-item" href="#">Inscripción</a></li>
								            <li><a class="dropdown-item" href="/alumno/carrera">Alumnos de una Carrera</a></li>
								         </ul>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Docentes</a>
										<ul class="dropdown-menu">
								            <li><a class="dropdown-item" href="/docente/listado">Listado de Docentes</a></li>
								            <li><a class="dropdown-item" href="#">Extra</a></li>
								            <li><a class="dropdown-item" href="#">Extra</a></li>
								         </ul>
									</li>
									<li class="nav-item dropdown">
										<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Materias</a>
										<ul class="dropdown-menu">
								            <li><a class="dropdown-item" href="/materia/listado">Listado de Materias</a></li>
								            <li><a class="dropdown-item" href="#">Extra</a></li>
								            <li><a class="dropdown-item" href="#">Extra</a></li>
								         </ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</body>
</html>